.list {
  background-color: #fff;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
}

@media (min-width: 600px) {
  .list {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .list {
    width: 700px;
  }
}
